.sales-summary-container {
  display: flex;
  flex-direction: column;
  background: rgba(24, 24, 24, 0.7);
  backdrop-filter: blur(10px);
  font-size: 16px;
  border-radius: 12px;
}

.sales-summary-content {
  display: flex;
  gap: 16px;
}

.summary-item {
  flex: 1;
  background: rgba(35, 35, 35, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  height: 150%;
}

.summary-item-title {
  color: #fff;
  font-size: 1.7em;
  margin-bottom: 12px;
}

.summary-item-value {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  line-height: 210%;
  width: 100%;
} 